html, body{
	padding: 0;
	margin: 0;
}

#mainSection{
	min-height: 400px;
}


#mainContainer{
	border: 1px solid black;
	width: 900px;
}

#profileButton{
	width: 100%;
}

#deleteStatusIcon{
	color: red;
}
#likeStatusIcon{
	text-decoration: none;
	color: black;
}
#statusesFriendsLastLogin>div{
	width: 100;
	text-align: center;
}
.jumbotronNumber{
	font-weight: bold;
	font-size: 25px;
}

